<footer class="footer">
  <small>
    <a href="http://railstutorial.jp/">Rails Tutorial</a>
    by XXXXX
  </small>
  <nav>
    <ul>
      <li><%= link_to "home", "/" %></li>
      <li><%= link_to "projects", projects_path %></li>
      <li><%= link_to "users", users_path %></li>
      <li><%= link_to "Sign up", signup_path %></li>
      <li><%= link_to "microposts", microposts_path %></li>
      <li><%= link_to "StaticPages_Home", home_path %></li>
      <li><%= link_to "StaticPages_Help", help_path %></li>
      <li><%= link_to "StaticPages_about", about_path %></li>
      <li><%= link_to "StaticPages_contact", contact_path %></li>
      <li><%= link_to "signin", signin_path %></li>
      <li><%= link_to "habits", habits_path %></li>
        <li><a href="http://news.railstutorial.jp/">railstutorial</a></li>
    </ul>
  </nav>
</footer>